img {
  float: right;
}

.column{
  margin: 12px;
border: 2px solid blue;
padding: 2px;
}

h1{
  padding-left: 300px;
  color: blue;
}

.container{
  font-family: sans-serif;
}

.column{
  font-family: cursive;
  color: red;
}
h2{
  font-weight: bold;
}
.aboutme{
  margin: 12px;
  border-style: groove;
  border-color: black;
  padding: 4px;
}
